<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>uk.leftbrained.recent_commits</string>
	<key>OnDemand</key>
	<true/>
	<key>RunAtLoad</key>
	<false/>
	<key>UserName</key>
	<string>gavin</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/bin/osascript</string>
    <string>/Users/gavin/.git/logger/bin/export_to_evernote.applescript</string>
	</array>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Minute</key>
		<integer>4</integer>
	</dict>
</dict>
</plist>
